

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.fade-out {
    animation: fadeOut 0.5s linear forwards;

}

header {
    font-size: 3rem;
}


.container {
    display: grid;
    grid-template: auto auto / auto;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

input {
    outline: none;
    border: none;
    border-bottom: 0.1rem solid rgb(18 82 6);
    background-color: transparent !important;
    color: white;
    font-size: 2rem;
    margin: 1rem;
}

input:focus {
    border-bottom: 0.1rem solid rgb(33, 148, 13);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgb(27, 61, 11) inset;
    -webkit-text-fill-color: gray !important;
}



button {
    background-color: inherit;
    font-size: 2rem;
    color: white;
    border: none;
}

button:disabled {
    color: rgb(95, 88, 88);
    cursor: initial;
}

button:not([disabled]):hover {
    cursor: pointer;
    border-bottom: 0.1rem solid rgb(33, 148, 13);
}

.error {
    font-size: 1.5rem;
}
