.container {
    display: grid;
    background-color: rgb(5, 5, 5);
    background-image: radial-gradient(#233414, #181e12, #0d0e0d) !important;
    height: 100vh;
    justify-content: center;
    align-items: center;
}